@charset "utf-8";
/* CSS Document */
html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

body { width:100%; height:100%; }
body, .default {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 
	font-size:24px; font-weight:bold; color:#EEE; }   
	/* this is just to "view" the div height...*/

td {
    width: 1px;
    white-space: nowrap;
}

.get_barcode a:link			{ color:cyan;    }
.get_barcode a:active		{ color:red;     }
.get_barcode a:visited		{ color:magenta; }
.get_barcode a:link:hover, 
.get_barcode a:visited:hover{ color:green;   }

.default tr {height:26px;}

.place_buttons { 
	vertical-align:middle;
	display:table-cell; 
	padding-left:5%;
}

.color_size {
	color:#EEEEEE; 
	font-size:24px; font-weight:bold; 
/*	font-family:"Courier New", Courier, monospace;   */
	display:inline-block; text-align:center; position:absolute; top:20%; left:2%;"
}

h1, h2 {
	color:#EEE; 
	font-size:24px; font-weight:bold; 
/*	font-family:"Courier New", Courier, monospace;  */
	display:table-cell;
	vertical-align:middle; 
	padding-left:20px;
	text-align:center; 
}
h2 {text-align:left;}

#wrapper {
    position:absolute; 
	height:100%; width:100%;
    display:table;
}

.header {padding: 0   10px 10px 10px; border-bottom: #FFF solid thin; clear:both; background-color:#900; }
.footer {padding:10px 10px  0    0px; border-top:    #FFF solid thin; }

.col  {float:left; width:92px; text-align:center;}

input, select { width:160px; text-align:center; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:18px; background-color:#DDD; color:black; margin-top:4px; margin-bottom:3px; }
input:focus, select:focus   { background-color: #F00 #00F #0F0 #0FF; }
select {margin-top:4px; margin-bottom:3px; width:186px; }
input[type='checkbox'] { margin-top:12px;}
input[type='radio'],input[type='checkbox'] { width:10px; }
.info input[type='text'], .info input[type='email'], .info input[type='tel'], .info input[type='password'] {width:210px; text-align:left; margin-top:4px; margin-bottom:.3em;}
.info select {width:215px; text-align:left;}
.info {line-height:1.48em;}

table {color:black; font-size:12px;}

.labels { float:left; color:#EEEEEE; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:24px; padding:0px 8px 0 0;}
.labels p { padding:0px; margin:0px; line-height:1.52em; }
td, th {font-size:24px; color:white; text-align:left; width:160px; }
.labels td, .labels th {font-size:24px; color:white; text-align:left; width:160px; }
.employee { margin-left:5%; display:table; vertical-align:middle; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; }

.employee input, .employee select {margin-bottom:8px; }

/*
 *	Buttons
 */

form {display:inline;}

.red_up, .red_down, .green_up, .green_down, .blue_up, .blue_down, .pink_up, .pink_down, .admin_up, .admin_down, .del_up, .del_down {
	min-width:160px;
	padding:12px 20px; 
	font-size:18px; 
	border-radius:24px; 
	color:white; 
	border:none; 
	font-weight:bold; 
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none; 
/*	letter-spacing:.1em;  */
}
.admin_up, .admin_down { width:180px; }
.pink_up,  .pink_down  { width:220px; }

.red_up     { background-image:linear-gradient(to bottom, #FF8888 0%, #CC3333 100%); }
.red_down   { background-image:linear-gradient(to bottom, #CC3333 0%, #FF8888 100%); }
.green_up   { background-image:linear-gradient(to bottom, #BBc577 0%, #61923b 100%); }
.green_down { background-image:linear-gradient(to bottom, #61923b 0%, #BBc577 100%); }
.blue_up    { background-image:linear-gradient(to bottom, #59707E 0%, #0E1F33 100%); }
.blue_down  { background-image:linear-gradient(to bottom, #0E1F33 0%, #59707E 100%); }
.pink_up    { background-image:linear-gradient(to bottom, #FFBBFF 0%, #FF66FF 100%); }
.pink_down  { background-image:linear-gradient(to bottom, #FF66FF 0%, #FFBBFF 100%); }
.del_up     { background-image:linear-gradient(to bottom, #FF8888 0%, #CC3333 100%); }
.del_down   { background-image:linear-gradient(to bottom, #CC3333 0%, #FF8888 100%); }
.admin_up   { background-image:linear-gradient(to bottom, #6F735A 0%, #070D0D 100%); }
.admin_down { background-image:linear-gradient(to bottom, #070D0D 0%, #6F735A 100%); }
/*
.admin_up   { background-image:linear-gradient(to bottom, #458575 0%, #013133 100%); }
.admin_down { background-image:linear-gradient(to bottom, #013133 0%, #458575 100%); }
*/
a.blue_up, a.blue_down, a.pink_up, a.pink_down {
	padding:12px 50px; 
}
.del_up, .del_down {
	min-width:28px;
	padding:8px 0px; 
	font-size:11px; 
}

.greenbox {
	padding:20px; border-radius:20px;
	background:rgba(140, 190, 70, 0.5);
}
.whitebox {
	padding:20px; border-radius:20px; display: inline-block;
	background:rgba(255, 255, 255, 0.5);
}
.bluebox {
	padding:20px; border-radius:20px; display: inline-block;
	background:rgba(190, 190, 255, 0.3);
}

/*
#emp_id { display: none; }
#emp_id_not { display:block; }
*/
#emp_id {margin-left:25px;}

/* Not sure I'm going to use these anymore */

.navigation { float:left; background-color: #060; padding:30px 0 0 30px;  min-height:380px; width:150px; border-right: #FFF solid thin; }
.navigation ul { list-style:none; width:120px; padding-bottom:5px; }
.navigation li { 
	padding:5px; 
	background-color:#666; 
	border-top:   #999 solid thick;  
	border-right: #555 solid thick;  
	border-bottom:#333 solid thick;  
	border-left:  #ccc solid thick;  
}
.navigation a 			{ text-decoration:none; }
.navigation a:link		{ color:#0FF; }
.navigation a:hover		{ color:#FF0; }
.navigation a:hover	li	{ color:#FF0; }
.navigation a:visited	{ color:#FF80FF; }
.navigation a:active 	{ color:#666; }
.navigation a:active li	{ 
	background-color:#CCC; 
	border-top:   #333 solid thick;  
	border-right: #CCC solid thick;  
	border-bottom:#999 solid thick;  
	border-left:  #555 solid thick;  
}

.wrapper2   { float:left; padding:10px 0 0 10px; background-color:#309; width:585px; }
.wrapper_center { margin:120px 0 0 130px; }

div.transbox {
	font-size:14px;
	font-family:Tahoma, Geneva, sans-serif;
    font-weight: bold;
    color:  #000000;
    width:   520px;
    height:  230px;
    margin:  30px 40px;
    background-color: #ffffff;
    border:  1px solid black;
    opacity: 0.6;
    filter:  alpha(opacity=60); /* For IE8 and earlier */
/*	position:absolute;
	top:0;
	left:0;
*/	z-index:10;
}

